services:
  server:
    image: tugboatqa/node:18.3
    expose: 3000
    default: true
    commands:
      init:
        - ln -snf "${TUGBOAT_ROOT}" "${DOCROOT}"
        - cd server && npm install
    #   build:
    #     - cd server && npm run build:ui