services:
  apache:
    image: tugboatqa/httpd:2.4
    default: true
    commands:
      init:
        - curl -fsSL https://deb.nodesource.com/setup_18.x | sudo -E bash -
        - sudo apt-get install -y nodejs
        - ln -snf "${TUGBOAT_ROOT}/server" "${DOCROOT}"
      build:
          - cd server && npm install # this was previously in init section
      #   - cd server && npm run build:ui