services:
  server:
    image: tugboatqa/node:18.3
    expose: 3000
    default: true
    # commands:
    #   init:
    #     - npm install
    #     - ln -snf "${TUGBOAT_ROOT}" "${DOCROOT}"
    #   build:
    #     - cd server && npm run build:ui